<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>TWIG</h1>
    {{ name }}
    <p>Le nom est : {{array.name }}</p>
    <p>Le prenom est : {{array.prenom }}</p>
    <p>Le prenom est : {{array.age }}</p>
    <p>Le prenom est : {{array.prefession}}</p>
  </body>
</html>
